*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

html{
  scroll-behavior:smooth;
}

/* Navbar */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  background:rgb(6, 6, 6);
  position:fixed;
  top:0;
  width:100%;
  z-index:1000;
  box-shadow:0 5px 10px rgba(0,0,0,0.05);
}
header img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.logo{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:22px;
  font-weight:600;
  color:#00eaff;
}

.logo img{
  width:32px;
  height:32px;
  object-fit:contain;
}

nav a{
  margin:0 8px;
  padding:8px 18px;
  text-decoration:none;
  color:#00eaff;
  font-weight:500;
  border-radius:20px;
  transition:0.3s;
}

nav a:hover{
  background:#00eaff;
  color:rgb(0, 0, 0);
  box-shadow:5px 5px 15px #00eaff;
}

/* Home */
.home{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;   
  padding:50px 50px;
  background:linear-gradient(120deg,#dbe9ff,#ffffff);
}
.home .btn{
    color: white;
    background-color: #0cd8f7;
    border: 2px solid #00eaff;
    font-size: large;
    font-weight: bold;
  opacity: 0.9;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover{
  background:#00eaff;
  color:rgb(0, 0, 0);
  box-shadow:0px 5px 15px #00eaff;
}
.home-text{
  width:40%;
  padding-left: 60px;
  color: white;
}

.home-text h1 span{
  color:#00eaff;
}

button{
  margin-top:20px;
  padding:12px 25px;
  background:#0066ff;
  border:none;
  color:white;
  border-radius:5px;
  cursor:pointer;
  
}

.home-img img{
  width:300px;
  height: 300px;
  border-radius:50%;
  box-shadow:0 15px 30px rgba(0,0,0,0.2);
}


#home{
  background:#0a1930;
}
#about{
  background: #0e2444;
   
}
#skills{
  background:#152f57;
}
#certificates{
  background:#0a1930;
}
#projects{
  background: #0e2444;
  
}

section{
  padding:100px 50px;
  min-height:100vh;
}

h2{
  color:#00eaff;
  margin-bottom:15px;
}

/* Compact Footer */
footer{
  background:linear-gradient(120deg,#0a1930,#001f4d);
  color:white;
}

.footer-container{
  max-width:1200px;
  margin:5px;
}

.footer-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  margin-bottom:5px;
  margin-top: 10px;
  margin-left: 50px;
}

.footer-top h2{
  color:#4da3ff;
  margin-top: 15px;
}

.footer-middle{
  display:flex;
  text-align:center;
  padding:10px 0;
  border-top:1px solid rgba(255,255,255,0.2);
  border-bottom:1px solid rgba(255,255,255,0.2);
}

.footer-middle div{
  padding: 10px;
  font-size:16px;
  margin-left: 40px;
}

.content {
    width: 100%;
    margin: auto;
    animation: slideUp 1s ease;
    background-color: #181818;
}

.content h2 {
    color: #00eaff;
    margin-bottom: 15px;
    font-size: 28px;
}

.content img {
    width: 30%;
    max-width: 600px;
    border-radius: 5px;
    margin-top: 15px;
} 

.certificate-box{
    margin-top: 60px;
    margin-left: 40px;
}
.certificate-box .hthree{
   margin-left: 2px;
    margin-bottom: 12px;
    font-size: 16px;
}
.content img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #00eaff;
}

#skills *{
  position:relative;
  z-index:1;
}


#skills ul{
  margin-top:30px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:15px;
  list-style:none;
}

#skills ul li{
  background:rgba(255,255,255,0.2);
  padding:12px 18px;
  border-left:4px solid #00eaff;
  border-radius:6px;
  backdrop-filter: blur(15px);
  box-shadow:0 0 15px rgba(0,234,255,0.2);
  transition:0.3s;
  color: #ffffff;
}

#skills ul li:hover{
  transform:translateX(10px);
  box-shadow:0 0 25px #00eaff;
}



.arc{
    margin-top: 20px;
}


#about{
  display:flex;
  align-items:center;
  min-height: unset;
  padding-top:60px;
}

#about p{
  max-width:800px;
  background:rgba(255,255,255,0.25);
  backdrop-filter: blur(12px);
  padding:80px;
  border-radius:20px;
  border:1px solid rgba(0,234,255,0.5);
  box-shadow:0 0 40px rgba(0,234,255,0.25);
  font-size:18px;
  line-height:1.8;
  position:relative;
  animation: floatCard 4s ease-in-out infinite;
  margin-top: -400px;
}

#about p::before{
  content:"";
  position:absolute;
  inset:-2px;
  border-radius:20px;
  background:linear-gradient(90deg,#00eaff,#4173d0,#00eaff);
  z-index:-1;
  filter:blur(8px);
}

@keyframes floatCard{
  0%,100%{ transform:translateY(0); }
  50%{ transform:translateY(-10px); }
}

.abt{
    margin-bottom: 1000px;
    color: #00eaff;
    font-size: 40px;
}


.cert-grid{
  display:grid;
  grid-template-columns:repeat(2, 1fr); 
  grid-template-rows:repeat(3, auto);   
  gap:40px;                             
  margin-top:40px;
}


.cert-card{
  background:rgba(255,255,255,0.2);
  backdrop-filter:blur(10px);
  padding:30px;
  border-radius:15px;
  border:1px solid rgba(0,234,255,0.4);
  box-shadow:0 0 20px rgba(0,234,255,0.2);
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  transition:0.4s;
}

.cert-card h3{
  color:#00eaff;
  margin-bottom:20px;
}

.cert-card button{
  align-self:flex-start;
  background:transparent;
  border:2px solid #00eaff;
  color:#ffffff;
  padding:8px 20px;
  border-radius:20px;
  cursor:pointer;
  transition:0.3s;
}

.cert-card button:hover{
  background:#00eaff;
  color:rgb(0, 0, 0);
  box-shadow:0px 5px 15px #00eaff;
}

.cert-card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 40px #00eaff;
}

.home-text .big:hover{
  opacity: 0.9;
  transition: 0.3s ease-in-out;
   box-shadow:0 5px 15px rgba(236, 237, 239, 0.4);
   cursor: pointer;

}
.project-grid{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:40px;
  margin-top:40px;
  color: white;

}
.project-card{
    border: 3px solid #00eaff;
    padding: 8px;
    border-radius: 10px;
    padding-bottom: 20px;
}
